<!DOCTYPE html>
<html>
<head>
	<title> Smart Clinic</title>
	<link rel="stylesheet" type="text/css" href="CSS/style.css">
</head>

<body>
	<header> 

		<div class="main">
			<div class="logo">
				<img src="logo.png">
			</div>

			<ul>                                                   <! To create navigation bar >
				<li class="active"><a href="#">Home</a></li>
				<li><a href="login.html">Login</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Gallery</a></li>
				<li><a href="#">About</a></li>                     <! # for not going to another webspage link>
			</ul>

		</div>

		<div class="title">
			<h1>Eazzzy Tour</h1>
		</div>

		<div class="button">
			<a href="http://www.youtube.com" class="btn">Watch Video</a>
			<a href="#" class="btn">Learn More</a>
		</div>

		<div class="detail">

		</div>
	</header>
</body>
</html>